/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@font-face {
  font-family: 'Bazar';
  src: url('./Bazar.ttf'); /* IE9 Compat Modes */
  src: url('Bazar.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Bazar.woff') format('woff'), /* Modern Browsers */
       url('Bazar.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Bazar.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  max-width: 700px;
  padding: 12px;
  padding-bottom: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 481px) {
  body {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
}


body {
  /*background-color: #fff;*/
  background-color:#F2F2E8;
  font-family: sans-serif;
  font-size: small;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  /*color:#AAAAAA;*/
}

h2 {
  /*color: #AAAAAA;*/
  border-bottom: 2px solid #555;
}

p { margin: 1em 0; }
/*ul, p { color: #e0e0e0; }*/

a         {
  color: #F07057;
  text-decoration: none;
}
a:hover   { color: #333; }
a:visited { color: #F07057; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts li a:hover {
  color: #333;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.right_col {
  float:right;
  width: 20em;
}

.left_col {
  float:left;
}

.clearer {
  clear:both;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.wrapper {
  width: 100%;
}


.site {
  font-size: 115%;
  text-align: justify;
  max-width: 50em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  padding-left: 1em;
  padding-right:1em;
}

.header {
  text-align: center;
  /*border-bottom: 3px solid #555;*/
  margin-bottom: 1em;
  height: 250px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  /*display: inline-block;*/
  /*margin-bottom: 1.5em;*/
  line-height: 1em;
  font-size:4em;
  background-image: url("../assets/donkey-logo.png");
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: right -15px;
  font-family: 'Bazar';
  margin-bottom: 0.75em;
  /* e9bf53  yellow-ish mustard */
}

.title a {
  /*color: #a00;*/
  color: #2ABAFF;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

ul {
  margin-left: 2.5em;
}

.footer {
  font-size: 80%;
  color: #555;
  border-top: 4px solid #555;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  white-space: pre-wrap;
}

.post pre, .post pre > .post code {
  /* Make more code fit on small screens */
  font-size: 10px;
}

@media only screen and (min-width: 481px) {
  .post pre, .post pre > .post code {
    /* Bigger font on bigger screens */
    font-size: 14px;
  }
}

/*
.post {
  box-shadow: 1px 3px 15px 1px #333;
  border-radius: 2pt;
  padding: 1em;
}
*/
.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


